.general-container {
    
    flex-direction: column;/* Flex direction is changed to column */
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    
    min-height: calc(100vh - 350px);
    background-color: #f4f4f9; /* Light background for the whole page */
  }

.volunteer-form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    flex-grow: 1;
    overflow: auto;
    margin-top: 20px;
    z-index: 5;/* Z-index is added to make the form appear on top of the background */
}

.volunteer-form-group {
    margin-bottom: 20px;
}

.volunteer-label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.volunteer-input, .volunteer-select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;/* Box-sizing is added to include padding and border in the width */
}

.volunteer-input:focus, .volunteer-select:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0,86,179,0.2);
}

.volunteer-button {
    width: 100%;
    padding: 12px 0;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;/* Transition is added for smooth hover effect */
}

.volunteer-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.volunteer-input-icon {
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    padding-left: 35px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .volunteer-form-container {
        padding: 15px;
        margin: 15px auto;
    }

    .volunteer-input-icon {
        padding-left: 30px;
    }

    .volunteer-button, .volunteer-input, .volunteer-select {
        padding: 10px;
    }

    .volunteer-label {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .volunteer-form-container {
        max-width: 90%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .volunteer-input-icon {
        background-size: 16px 16px;
        padding-left: 25px;
    }

    .volunteer-button, .volunteer-input, .volunteer-select {
        padding: 8px;
    }

    .volunteer-label {
        font-size: 12px;
    }
}

/* Specific icons for each input type */
.volunteer-input-icon.name {
    background-image: url('./../../assets/Images/name2icon.png');
}

.volunteer-input-icon.email {
    background-image: url('./../../assets/Images/emailIcon.webp');
}

.volunteer-input-icon.phoneNumber {
    background-image: url('./../../assets/Images/callIcon.png');
}

.volunteer-input-icon.camp {
    background-image: url('./../../assets/Images/campsIcon.jpeg');
}

.volunteer-input-icon.expertise {
    background-image: url('./../../assets/Images/expIcon.png');
}
