/* Footer styling */
.copyright_footer {
  color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: #141b2c;
}

/* Styling for clinic name */
#clinic_name {
  color: #0396fe;
  margin: 6px;
  text-decoration: none;
  font-weight: bold;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .copyright_footer {
      height: auto; /* Allow height to adjust based on content */
      padding: 10px; /* Add padding for better spacing */
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 479px) {
  #clinic_name {
      font-size: 14px; /* Reduce font size for smaller screens */
  }
}
